* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}

:root {
  --price-component-bg: hsl(0, 0%, 100%);
  --main-bg: hsl(230, 100%, 99%);
  --slider-bar: hsl(174, 77%, 80%);
  --slider-bg: hsl(174, 86%, 45%);
  --slider-empty: hsl(224, 65%, 95%);
  --discount-bg: hsl(14, 92%, 95%);
  --discount-text: hsl(15, 100%, 70%);
  --text-cta-bg: hsl(227, 35%, 25%);
  --cta-text: hsl(226, 100%, 87%);
  --toggler-bg: hsl(223, 50%, 87%);
  --text: hsl(225, 20%, 60%);
  --sub-header: 15px;
  --price-pading: 2.8em;
}

@media (max-width: 580px) {
  :root {
    --price-pading: 1.5rem;
  }
}

body {
  min-height: 100vh;
  background-color: var(--main-bg);
  background-image: url(../images/bg-pattern.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top right;
}

@media (max-width: 580px) {
  body {
    background-size: 200%;
    background-position: top right -10vw;
  }
}

.page-header {
  height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(../images/pattern-circles.svg);
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 580px) {
  .page-header {
    text-align: center;
  }
}

.page-header .main-header {
  color: var(--text-cta-bg);
  line-height: 2em;
}

@media (max-width: 580px) {
  .page-header .main-header {
    font-size: 1.3rem;
  }
}

.page-header .sub-header {
  color: var(--text);
  font-weight: 600;
}

@media (max-width: 580px) {
  .page-header .sub-header {
    font-size: 1rem;
    width: 60%;
  }
}

.price-component {
  background: var(--price-component-bg);
  max-width: 540px;
  margin: auto;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 6px;
}

@media (max-width: 580px) {
  .price-component {
    margin: 1.25rem;
  }
}

.price-header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr auto;
      grid-template-columns: 2fr 1fr auto;
      grid-template-areas: 'view dollar time' 'slider slider slider';
  padding: var(--price-pading) var(--price-pading) 0;
  margin-bottom: 1rem;
}

@media (max-width: 580px) {
  .price-header {
    -ms-grid-columns: 1.25fr 1fr;
        grid-template-columns: 1.25fr 1fr;
    margin-bottom: 0mm;
        grid-template-areas: 'view view' 'slider slider' 'dollar time';
  }
}

.price-header .view {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: view;
  text-transform: uppercase;
  color: var(--text);
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 15px;
  margin-top: 10px;
}

@media (max-width: 580px) {
  .price-header .view {
    text-align: center;
  }
}

.price-header .dollar {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: dollar;
  justify-self: flex-end;
  margin-right: 12px;
}

.price-header .time {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: time;
  color: var(--text);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.price-header .slider {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: slider;
  padding: 2rem 0 2.3rem;
}

@media (max-width: 580px) {
  .price-header .slider {
    padding-top: 2.3rem;
  }
}

.price-header .slider .custom-slider {
  --progress-width: 0%;
  position: relative;
  width: 100%;
  height: 10px;
  background: var(--slider-empty);
  border-radius: 5px;
}

.price-header .slider .custom-slider::before {
  content: '';
  position: absolute;
  left: 0;
  z-index: 1;
  width: var(--progress-width);
  height: 100%;
  border-radius: inherit;
  background: var(--slider-bar);
}

.price-header .slider .custom-slider input[type='range'] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
  z-index: 2;
  display: block;
  margin: 0;
  width: 100%;
  height: 100%;
  outline: none;
  background: transparent;
}

.price-header .slider .custom-slider input[type='range']::-webkit-slider-thumb {
  cursor: pointer;
  -webkit-appearance: none;
          appearance: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--slider-bg);
  background-image: url(../images/icon-slider.svg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-box-shadow: 0 5px 30px -5px var(--slider-bg);
          box-shadow: 0 5px 30px -5px var(--slider-bg);
}

.price-header .slider .custom-slider input[type='range']:active::-webkit-slider-thumb {
  background-color: #0fc7b5;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.price-billing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 var(--price-pading) var(--price-pading);
}

@media (max-width: 580px) {
  .price-billing {
    padding: 2rem var(--price-pading);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.price-billing .label {
  font-size: 15px;
  color: var(--text);
}

@media (max-width: 580px) {
  .price-billing .label {
    font-size: clamp(12px, 2.5vw, 15px);
  }
}

.price-billing .switch {
  position: relative;
  width: 40px;
  height: 20px;
  margin: 0 0.7rem;
}

@media (max-width: 580px) {
  .price-billing .switch {
    margin: 0 0.5rem;
  }
}

.price-billing .switch input[type='checkbox'] {
  opacity: 0;
  width: 0;
  height: 0;
}

.price-billing .switch input[type='checkbox']:checked + .switcher::before {
  left: calc(100% - 15px - 4px);
}

.price-billing .switch .switcher {
  position: absolute;
  inset: 0;
  background: var(--cta-text);
  border-radius: 20px;
  cursor: pointer;
}

.price-billing .switch .switcher::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 4px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 15px;
  height: 15px;
  border-radius: 20px;
  -webkit-transition: left 0.3s;
  transition: left 0.3s;
  background: #fff;
}

.price-billing .switch .switcher:hover {
  background: var(--slider-bg);
}

.price-billing .discount {
  color: var(--discount-text);
  background: var(--discount-bg);
  padding: 3px 7px;
  font-size: 13px;
  font-weight: bold;
  border-radius: 20px;
  margin-left: 0.5rem;
}

.price-billing .discount::after {
  content: ' discount';
}

@media (max-width: 580px) {
  .price-billing .discount {
    font-size: 12px;
  }
  .price-billing .discount::before {
    content: '-';
  }
  .price-billing .discount::after {
    content: '';
  }
}

.price-divider {
  clear: both;
  border: 1px solid var(--slider-empty);
}

.price-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: var(--text);
  padding: calc(var(--price-pading) - 0.9rem) var(--price-pading);
  font-size: 15px;
}

@media (max-width: 580px) {
  .price-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: calc(var(--price-pading) - 0.3rem) var(--price-pading);
  }
}

.price-bottom .benefits-list {
  list-style: none;
}

@media (max-width: 580px) {
  .price-bottom .benefits-list {
    margin-bottom: 1rem;
  }
}

.price-bottom .benefits-list .benefit {
  padding: 3px 0;
}

.price-bottom .benefits-list .benefit::before {
  content: url(../images/icon-check.svg);
  margin-right: 13px;
}

.price-bottom .start-trial-btn {
  border: none;
  outline: none;
  font-weight: bold;
  background: var(--text-cta-bg);
  color: var(--cta-text);
  padding: 15px 50px;
  cursor: pointer;
  border-radius: 25px;
}
/*# sourceMappingURL=style.css.map */