* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}

:root {
  --price-component-bg: hsl(0, 0%, 100%);
  --main-bg: hsl(230, 100%, 99%);

  --slider-bar: hsl(174, 77%, 80%);
  --slider-bg: hsl(174, 86%, 45%);
  --slider-empty: hsl(224, 65%, 95%);

  --discount-bg: hsl(14, 92%, 95%);
  --discount-text: hsl(15, 100%, 70%);

  --text-cta-bg: hsl(227, 35%, 25%);
  --cta-text: hsl(226, 100%, 87%);

  --toggler-bg: hsl(223, 50%, 87%);
  --text: hsl(225, 20%, 60%);

  --sub-header: 15px;
  --price-pading: 2.8em;

  @media (max-width: 580px) {
    --price-pading: 1.5rem;
  }
}

body {
  min-height: 100vh;
  background-color: var(--main-bg);
  background-image: url(../images/bg-pattern.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.page-header {
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../images/pattern-circles.svg);
  background-repeat: no-repeat;
  background-position: center;

  @media (max-width: 580px) {
    text-align: center;
  }

  .main-header {
    color: var(--text-cta-bg);
    line-height: 2em;

    @media (max-width: 580px) {
      font-size: 1.3rem;
    }
  }

  .sub-header {
    color: var(--text);
    font-weight: 600;

    @media (max-width: 580px) {
      font-size: 1rem;
      width: 60%;
    }
  }
}

.price-component {
  background: var(--price-component-bg);
  max-width: 540px;
  margin: auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 6px;

  @media (max-width: 580px) {
    margin: 1.25rem;
  }
}

.price-header {
  display: grid;
  grid-template-columns: 2fr 1fr auto;
  grid-template-areas:
    'view dollar time'
    'slider slider slider';
  padding: var(--price-pading) var(--price-pading) 0;
  margin-bottom: 1rem;

  @media (max-width: 580px) {
    grid-template-columns: 1.25fr 1fr;
    margin-bottom: 0mm;
    grid-template-areas:
      'view view'
      'slider slider'
      'dollar time';
  }

  .view {
    grid-area: view;
    text-transform: uppercase;
    color: var(--text);
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 15px;
    margin-top: 10px;

    @media (max-width: 580px) {
      text-align: center;
    }
  }

  .dollar {
    grid-area: dollar;
    justify-self: flex-end;
    margin-right: 12px;
  }

  .time {
    grid-area: time;
    color: var(--text);
    align-self: center;
  }

  .slider {
    grid-area: slider;
    padding: 2rem 0 2.3rem;

    @media (max-width: 580px) {
      padding-top: 2.3rem;
    }

    .custom-slider {
      --progress-width: 0%;
      position: relative;
      width: 100%;
      height: 10px;
      background: var(--slider-empty);
      border-radius: 5px;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        z-index: 1;
        width: var(--progress-width);
        height: 100%;
        border-radius: inherit;
        background: var(--slider-bar);
      }

      input[type='range'] {
        appearance: none;
        position: absolute;
        z-index: 2;
        display: block;
        margin: 0;
        width: 100%;
        height: 100%;
        outline: none;
        background: transparent;

        &::-webkit-slider-thumb {
          cursor: pointer;
          appearance: none;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background-color: var(--slider-bg);
          background-image: url(../images/icon-slider.svg);
          background-repeat: no-repeat;
          background-position: center;
          box-shadow: 0 5px 30px -5px var(--slider-bg);
        }

        &:active::-webkit-slider-thumb {
          background-color: hsl(174, 86%, 42%);
          cursor: grabbing;
        }
      }
    }
  }
}

.price-billing {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 var(--price-pading) var(--price-pading);

  @media (max-width: 580px) {
    padding: 2rem var(--price-pading);
    justify-content: center;
  }

  .label {
    font-size: 15px;
    color: var(--text);

    @media (max-width: 580px) {
      font-size: clamp(12px, 2.5vw, 15px);
    }
  }

  .switch {
    position: relative;
    width: 40px;
    height: 20px;
    margin: 0 0.7rem;

    @media (max-width: 580px) {
      margin: 0 0.5rem;
    }

    input[type='checkbox'] {
      opacity: 0;
      width: 0;
      height: 0;
      &:checked + .switcher::before {
        left: calc(100% - 15px - 4px);
      }
    }

    .switcher {
      position: absolute;
      inset: 0;
      background: var(--cta-text);
      border-radius: 20px;
      cursor: pointer;

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 4px;
        transform: translateY(-50%);
        width: 15px;
        height: 15px;
        border-radius: 20px;
        transition: left 0.3s;
        background: #fff;
      }

      &:hover {
        background: var(--slider-bg);
      }
    }
  }

  .discount {
    color: var(--discount-text);
    background: var(--discount-bg);
    padding: 3px 7px;
    font-size: 13px;
    font-weight: bold;
    border-radius: 20px;
    margin-left: 0.5rem;

    &::after {
      content: ' discount';
    }

    @media (max-width: 580px) {
      font-size: 12px;

      &::before {
        content: '-';
      }

      &::after {
        content: '';
      }
    }
  }
}

.price-divider {
  clear: both;
  border: 1px solid var(--slider-empty);
}

.price-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--text);
  padding: calc(var(--price-pading) - 0.9rem) var(--price-pading);
  font-size: 15px;

  @media (max-width: 580px) {
    flex-direction: column;
    text-align: center;
    padding: calc(var(--price-pading) - 0.3rem) var(--price-pading);
  }

  .benefits-list {
    list-style: none;

    @media (max-width: 580px) {
      margin-bottom: 1rem;
    }

    .benefit {
      padding: 3px 0;

      &::before {
        content: url(../images/icon-check.svg);
        margin-right: 13px;
      }
    }
  }

  .start-trial-btn {
    border: none;
    outline: none;
    font-weight: bold;
    background: var(--text-cta-bg);
    color: var(--cta-text);
    padding: 15px 50px;
    cursor: pointer;
    border-radius: 25px;
  }
}
